html {
  height: 100%;
}

body {
  font-family: 'PT Serif', serif;
  color: white;
  text-shadow: 1px 1px 2px rgb(2, 15, 102);
  background-image: url(img/FridayCorner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-weight: 700;
  font-size: 120px;
}

h3 {
  font-size: 60px;
  font-weight: 700;
}

hr {
  margin-left: 6px;
  width: 100%;
  box-shadow: 1px 1px 2px rgb(2, 15, 102);
}

a {
  color: white;
}

a:hover {
  color: rgb(2, 15, 102);
}

i {
  padding: 6px;
}

#content {
/*    position: absolute;*/
      padding-top: 25%;
      padding-right: 25%;
}
